<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<h2>This is kinda cool bru</h2>

<p>wowowowowowwwww</p>

<h3><%= @awesome_message %> </h3>

<img src="https://lh6.googleusercontent.com/-15b-a4ALVDc/Tszv5w-q5GI/AAAAAAABBn0/9JSU4Ul8kIk/w398-h227/Sweet%2BOwl%2BBeing%2BPetted.gif" alt="cute owl"/>
